.pyc
data/templates/*
data/sessions/*
data/twitter/*
tweetvote/__init__.pyc
tweetvote/config/__init__.pyc
tweetvote/config/environment.pyc
tweetvote/config/middleware.pyc
tweetvote/config/routing.pyc
tweetvote/controllers/__init__.pyc
tweetvote/controllers/system.pyc
tweetvote/controllers/twitterator.pyc
tweetvote/controllers/votes.pyc
tweetvote/lib/__init__.pyc
tweetvote/lib/app_globals.pyc
tweetvote/lib/base.pyc
tweetvote/lib/classify.pyc
tweetvote/lib/format.pyc
tweetvote/lib/helpers.pyc
tweetvote/lib/tokenizer.pyc
tweetvote/lib/twapi.pyc
tweetvote/model/__init__.pyc
tweetvote/model/meta.pyc
tweetvote/model/vote.pyc
tweetvote/public/reload.png
data/bayes/global.bay
tweetvote/controllers/search.pyc
tweetvote/lib/cursor.pyc
tweetvote/lib/twitter.pyc