body, td, .search input {
	font-size: 0.9em;
	font-family: 'Lucida Grande', Helvetica, Verdana, sans-serif;
}

body {
	background-color: #00d8ff;
}

img {
	border: 0px;
}

#logo {
	margin-left: auto;
	margin-right: auto;
	padding: 2em;
	width: 347px;
}

#page_container {
	width: 564px;
	margin-left: auto;
	margin-right: auto;
}

#page {
    background-color:white;
    color:#333333;
    min-height:15em;
}

#page a {
    text-decoration:none;
}

#footer {
	margin-left: auto;
	margin-right: auto;
	padding: 3em;
	width: 20em;
	text-align: center;
	color: white;
}

#footer a {
	text-decoration: none;
	color: white;
}

strong {
    color:black;
    float:right;
    font-size:1.8em;
    font-weight:normal;
    margin:-21px 0px;
}

.login {
	padding: 1em 0 0.3em 0;
}

.login label {
    float:left;
    margin:0.5em 0.5em 0;
    width:40%;
    text-align:right;
}

.login input {
	margin: 0.4em 0 0 0;
	padding: 0.2em;
	display: block;
	font-size: 0.8em;
}

.login input[type=submit] {
	border: 1px solid white;
	background-color: #d4d700;
	color: white;
	font-size: 1em;
	padding: 0.3em 0.8em 0.3em 0.8em;
	margin: 0.5em;
	font-weight: bold;
}

.login .error-message {
	color: #ff5732;
}

.login br { display: none;}


#timeline {
    z-index: 500;
    padding-top: 15px;
    min-width: 560px;
    background-color: white;
}

#prototype {
}

/*
 red: #cf0064
 green: #cccf00
*/

.tweet {
    width: 560px;
    height: 80px;
    border-bottom: 1px dashed #999;
    padding-left: 2px;
    padding-right: 2px;
}

.tweet.stat_up, 
.tweet.vote_up {
    width: 536px;
    border-left: 24px solid #cccf00;
}

.tweet.stat_down, 
.tweet.vote_down {
    width: 536px;
    border-right: 24px solid #cf0064;
}

.tweet .box {
    width: 488px;
    padding: 6px;
    display: table-cell;
}

.tweet .leftbox,
.tweet .rightbox {
    width: 24px;
    height: 80px;
    max-height: 80px;
    display: table-cell;
    cursor: pointer;
}

.tweet .leftbox {
    padding-left: 12px;
}

.tweet .rightbox {
    padding-right: 12px;
}

.tweet.stat_up .box, 
.tweet.vote_up .box {
    /*background: green;*/
}

.tweet.stat_up .leftbox, 
.tweet.vote_up .leftbox {
    padding-left: 0px;
}

.tweet.stat_up .rightbox, 
.tweet.vote_up .rightbox {
    padding-right: 0px;
}

.tweet .rightbox {
    padding-right: 24px;
}

.tweet.stat_down .box, 
.tweet.vote_down .box {
    /*background: red;*/
}

.tweet.stat_down .leftbox, 
.tweet.vote_down .leftbox {
    padding-left: 0px;
}

.tweet.stat_down .rightbox, 
.tweet.vote_down .rightbox {
    padding-right: 0px;
}

.tweet.current .leftbox, 
.tweet:hover .leftbox {
    background: url(/arrow_left_light.png) no-repeat center right;
}

.tweet.current .rightbox, 
.tweet:hover .rightbox {
    background: url(/arrow_right_light.png) no-repeat center left;
}

.tweet.vote_up .leftbox {
    background: url(/arrow_left_heavy.png) no-repeat center right;
}

.tweet.vote_down .rightbox {
    background: url(/arrow_right_heavy.png) no-repeat center left;
}

.tweet.current {
    background: #eee;
}

.tweet .sender {
    font-weight: bold;
}

.tweet .profile_icon {
    float: left;
    margin-right: 10px;
    border: 1px solid #333;
}

.tweet .content {
    padding-left: 58px;
}

.tweet .meta {
    font-size: 0.8em;
    font-style: italic;
    padding-top: 0.5em;
    color: #aaa;
}

.searches {
    z-index: 300;
    position: fixed;
    top: 250px;
    left: 50%;
    margin-left: 282px;
    color: white;
    font-weight: bold;
}

.searches, .searches input {
    color: white;
    font-weight: bold;    
}

.searches input {
	background: #cccf00;
	width: 100px;
	margin: 0px;
	margin-bottom: 5px;
	margin-top: -2px;
	border: 0px;
	border-bottom: 1px solid #90b830;
	border-right: 1px solid #babd02;
	padding: 2px 20px 2px 2px;
	font-size: 1em;
}

.search_icon {
    background: url(/search.png) no-repeat center right;
    position: relative;
    z-index: 800;
    margin-left: 95px;
    margin-bottom: -33px;
    min-width: 42px;
    min-height: 42px;
    cursor: pointer;
}

.searches .search_tag,
.searches .user_tag {
    margin: 0px;
    padding: 0px;
    margin-bottom: 8px;
}

.searches .search_tag span,
.searches .user_tag span {
	padding: 2px 20px 2px 2px;
	cursor: pointer;
}

.searches .search_tag span {
    background: #cccf00 url(/delete.png) no-repeat center right;
    border-bottom: 1px solid #90b830;
	border-right: 1px solid #babd02;
}

.searches .user_tag span {
    background: #cf0064 url(/delete.png) no-repeat center right;
	border-bottom: 1px solid #8d0022;
	border-right: 1px solid #ae0043;
}
