body, td {
	font-size: 0.9em;
	font-family: 'Lucida Grande', Helvetica, Verdana, sans-serif;
}
body {
	background-color: #00d8ff;
}

img {
	border: 0px;
}

#logo {
	margin-left: auto;
	margin-right: auto;
	padding: 2em;
	width: 347px;
}

#page_container {
	width: 564px;
	margin-left: auto;
	margin-right: auto;
}

#page {
	background-color: white;
	color: #333333;
}

#page a {
	text-decoration: none;
	font-weight: bold;
}

#footer {
	margin-left: auto;
	margin-right: auto;
	padding: 3em;
	width: 20em;
	text-align: center;
	color: white;
}

#footer a {
	text-decoration: none;
	color: white;
}

strong {
	font-family: Georgia, serif;
	font-size: 2em;
	float: right;
	font-weight: normal;
	color: black;
}

.login {
	padding: 1em 0 0.3em 0;
}

.login label {
	float: left;
	width: 40%;
	margin: 0.5em 0 0 0;
}

.login input {
	margin: 0.4em 0 0 0;
	padding: 0.2em;
	display: block;
	font-size: 0.8em;
}

.login input[type=submit] {
	border: 1px solid white;
	background-color: #d4d700;
	color: white;
	font-size: 1em;
	padding: 0.3em 0.8em 0.3em 0.8em;
	margin: 0.5em;
	font-weight: bold;
}

.login .error-message {
	color: #ff5732;
}

.login br { display: none;}


#timeline {
    padding-top: 15px;
    min-width: 560px;
    background-color: white;
}

#prototype {
}

/*
 red: #cf0064
 green: #cccf00
*/

.tweet {
    width: 560px;
    height: 80px;
    border-bottom: 1px dashed #999;
    padding-left: 2px;
    padding-right: 2px;
}

.tweet.stat_up, 
.tweet.vote_up {
    width: 536px;
    border-left: 24px solid #cccf00;
}

.tweet.stat_down, 
.tweet.vote_down {
    width: 536px;
    border-right: 24px solid #cf0064;
}

.tweet .box {
    width: 488px;
    padding: 6px;
    display: table-cell;
}

.tweet .leftbox,
.tweet .rightbox {
    width: 24px;
    height: 80px;
    display: table-cell;
}

.tweet .leftbox {
    padding-left: 12px;
}

.tweet .rightbox {
    padding-right: 12px;
}

.tweet.stat_up .box, 
.tweet.vote_up .box {
    /*background: green;*/
}

.tweet.stat_up .leftbox, 
.tweet.vote_up .leftbox {
    padding-left: 0px;
}

.tweet.stat_up .rightbox, 
.tweet.vote_up .rightbox {
    padding-right: 0px;
}

.tweet .rightbox {
    padding-right: 24px;
}

.tweet.stat_down .box, 
.tweet.vote_down .box {
    /*background: red;*/
}

.tweet.stat_down .leftbox, 
.tweet.vote_down .leftbox {
    padding-left: 0px;
}

.tweet.stat_down .rightbox, 
.tweet.vote_down .rightbox {
    padding-right: 0px;
}

.tweet.current .leftbox {
    background: url(/arrow_left_light.png) no-repeat center right;
}

.tweet.current .rightbox {
    background: url(/arrow_right_light.png) no-repeat center left;
}

.tweet.vote_up .leftbox {
    background: url(/arrow_left_heavy.png) no-repeat center right;
}

.tweet.vote_down .rightbox {
    background: url(/arrow_right_heavy.png) no-repeat center left;
}

.tweet.current {
    background: #eee;
}

.tweet .profile_icon {
    float: left;
    margin-right: 10px;
    border: 1px solid #333;
}

.tweet .content {
    padding-left: 58px;
}

.tweet .meta {
    font-size: 0.7em;
    font-style: italic;
    padding-top: 0.5em;
    color: #aaa;
}
